<h1>Animal Thangs</h1>


<form action="/" method="POST">
	<div>
		<label for="animal">Animal:</label>
		<input type="text" id="animal" name="animal">
		<button type="submit">Submit</button>
	</div>
</form>
